* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #faf7f5;
    color: #121212;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 28px 80px;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #ba704a;
}

.nav-menu a {
    margin-left: 28px;
    text-decoration: none;
    color: #61593d;
    font-size: 16px;
}

.container {
    display: flex;
    padding: 40px 80px;
    gap: 48px;
}

.left {
    flex: 2.2;
}

.right {
    flex: 1;
}

.section-title {
    font-size: 18px;
    margin-bottom: 16px;
    color: #61593d;
}

.order-card {
    display: grid;
    grid-template-columns: 80px 1fr 120px 60px 120px;
    align-items: center;
    column-gap: 16px;
}

.order-card > * {
    min-width: 0;
}

.order-card img {
    width: 60px;
}

.product-name {
    font-weight: 600;
    font-size: 16px;
    white-space: normal;
    word-break: normal;
    overflow-wrap: break-word;
    line-height: 1.4;
}

.price,
.qty,
.subtotal {
    text-align: center;
    font-size: 15px;
}

.address-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 32px;
}

.address-name {
    font-weight: 600;
    margin-bottom: 6px;
}

.address-detail {
    font-size: 14px;
    color: #61593d;
    line-height: 1.5;
}

.payment-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 16px;
}

.payment-box button {
    background: #c7965c;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
}

.voucher-box {
    height: 70px;
    background: #e3d6cc;
    border-radius: 16px;
    margin-bottom: 24px;
}

.summary {
    background: #e3d6cc;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 24px;
    width: 100%;
}

.summary .row {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    row-gap: 8px;
}

.summary .row span:last-child {
    text-align: right;
    white-space: nowrap;
}


.summary .total {
    font-weight: 700;
    margin-top: 10px;
}

.checkout-btn {
    width: 100%;
    padding: 16px;
    background: #61593d;
    color: #ffffff;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
}





